@page "/counter"
@using FirstBlazorApp.Services
@using FirstBlazorApp.Components
@inject CounterDataService counterData
<h1>Counter</h1>

<CounterTracker/>
<p>Increment Amount: @counterData.GetIncrementAmount()</p>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => counterData.UpdateCount()">Click Me</MudButton>

<h3>Changing Counter</h3>

<MudNumericField @bind-Value=incrementAmount Label="Increment Amount" Variant=Variant.Outlined Min=0 HideSpinButtons=true></MudNumericField>
<MudButton Variant=Variant.Outlined Color=Color.Tertiary OnClick=HandleSubmit>Update Increment Amount </MudButton>

@code{
    private int incrementAmount;

    protected override void OnInitialized()
    {
        incrementAmount = counterData.GetIncrementAmount();
    }


    private void HandleSubmit() => counterData.SetIncrementAmount(incrementAmount);
}