@page "/counter"
@using FirstBlazorApp.Services
@using FirstBlazorApp.Components
@inject CounterDataService counterData
<h1>Counter</h1>

<CounterTracker/>
<p>Increment Amount: @counterData.GetIncrementAmount()</p>

<button class="btn btn-primary" @onclick="() => counterData.UpdateCount()">Click me</button>
<h3>Changing Counter</h3>
<InputNumber @bind-Value=incrementAmount></InputNumber>
<button @onclick=HandleSubmit>Update IncrementAmount</button>

@code{
    private int incrementAmount;

    protected override void OnInitialized()
    {
        incrementAmount = counterData.GetIncrementAmount();
    }


    private void HandleSubmit() => counterData.SetIncrementAmount(incrementAmount);
}